<div class="container">
  <mat-card>
    <h3>Funciones actuales del sistema</h3>

    <mat-list>
      <mat-list-item *ngFor="let function of functions">
        <mat-icon matListIcon>code</mat-icon>
        <a matLine style="color:rgb(27, 108, 110)" target="_blank"
          href="https://dynamiclibraryjdl.herokuapp.com/importarFuncion?idFuncion={{function.id}}"> {{function.nombre}}
        </a>
        <p matLine>
          <span> {{function.subject}} </span>
          <span class="demo-2"> <i>{{function.descripcion}}</i> </span>
        </p>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>