<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="main-container"> 
  <!-- ============================================================== -->
  <!-- Topbar - style you can find in header.scss -->
  <!-- ============================================================== -->
  <mat-toolbar  class="topbar telative">

    
      <!-- ============================================================== -->
      <!-- app header component - style you can find in header.scss / header.component.ts-->
      <!-- ============================================================== -->
      <app-header ></app-header>

      
  </mat-toolbar>

               
              <div class="page-content siteContent">

                  
                 
                      <router-outlet><app-spinner></app-spinner></router-outlet>
                  
              </div>    

</div>