  .example-container > * {
    width: 100%;
  }  
  .example-card {
    max-width: 600px;
  }
  .mat-card{
    background-color: #eaeaea;
    border-style: outset
  }
  .login {
    margin-left: auto;
    margin-right: auto;  
    padding-top: 9%;
    padding-bottom: 9%;
  }
  .example-form {
    min-width: 150px;
    max-width: 600px;
    width: 100%;
  }
  
  .example-full-width {
    width: 90%;
    margin-left: 2rem;
  }
.title{
  margin: 10px 0 0 10px;
}