

<div>
  <blockquote style="margin: 1%">
    Pretende el desarrollo de un API abierta de generación dinámico que brinde
    al usuario la incorporación de funciones de propósitos variados que puedan
    requerir de una o más funciones existentes, Así como la capacidad de
    utilizar abiertamente las funciones que cualquier usuario haya registrado
    con la capacidad de importar únicamente el código requerido para ser
    utilizado en del desarrollo de aplicaciones Web.
  </blockquote>
</div>
<hr>

<h3>Funciones actuales del sistema</h3>

<mat-list>
  <mat-list-item *ngFor="let message of func">
    <mat-icon matListIcon>code</mat-icon>
    <a matLine style="color:rgb(27, 108, 110)" target="_blank" href="https://dynamiclibraryjdl.herokuapp.com/importarFuncion?idFuncion={{message.id}}" > {{message.nombre}} </a>
    <p matLine> 
      <span> {{message.subject}} </span>
      <span class="demo-2"> <i>{{message.descripcion}}</i>  </span>
    </p>
  </mat-list-item>
</mat-list>     