

<div class="homeContainer">

  <img src="../../assets/images/jdlIcon.png"  alt="JDL Icon" height="20%" width="20%"> 

  <h1> Javascript Dynamic Library </h1>

  <blockquote style="margin: 1%">

    La librería dinámica de Javascript (JDL) permite que las personas utilicen código escrito por alguien más
    sin importar el lugar donde se encuentren. Asimismo, hace posible que una persona comparta su conocimiento a través
    de las funciones que registra en el sistema. Con JDL usted utiliza únicamente el código que necesita, no descarga la 
    librería completa, esto beneficia el rendimiento de su página web.

  </blockquote>
</div>

<hr>

<div>

    <blockquote style="margin: 1%">

        <h3 class="subtitles"> ¿Cómo funciona? </h3>

        Existen dos formas de utilizar la librería, ambas requieren una importación en el proyecto que usted se encuentre
        desarrollando. La primera es importando un núcleo base de la librería que en realidad sería como una interfaz para importar
        las funciones que se requieran. La segunda opción es importar la función por separado. Estas dos variantes de uso de la
        librería se detallan en la sección de documentación.
        
        
    
    </blockquote>


</div>

<br> <br>

