<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<!--<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <img src="assets/images/info_image.png" alt="user" class="profile-pic"> </button>
<mat-menu #profile="matMenu" class="mymegamenu" >
    <button mat-menu-item>Iniciar Sesión </button>
     <button mat-menu-item>
        <mat-icon>account_box</mat-icon> Profile </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon> Disable notifications </button>
    <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon> Sign Out </button> 
</mat-menu>-->


<!-- ============================================================== -->
<!-- Logo - style you can find in assets/style/header.scss -->
<!-- ============================================================== -->



<ul class="navList">

    <li class="navElements" *ngFor="let menuitem of menuItems.getMenuitem()">

        <a [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'" class="navFontSize" mat-button>
            <span>{{ menuitem.name }}</span>
        </a>

    </li>

    <li class="navElements">
        <button class="btn btn-success" style="font-size: large;"> <a class="navFontColor" [routerLink]="['/login']">
                Login / Registro</a> </button>


    </li>

    <li class="navElements">
        <a href="index.html">
            <!-- Logo text -->

            <!-- Light Logo text for dark background-->
            <img src="assets/images/navbar/tec_light_logo.png" class="light-logo" alt="homepage">
        </a>

    </li>




</ul>