        
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<!--<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <img src="assets/images/info_image.png" alt="user" class="profile-pic"> </button>
<mat-menu #profile="matMenu" class="mymegamenu" >
    <button mat-menu-item>Iniciar Sesión </button>
     <button mat-menu-item>
        <mat-icon>account_box</mat-icon> Profile </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon> Disable notifications </button>
    <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon> Sign Out </button> 
</mat-menu>-->


 <!-- ============================================================== -->
<!-- Logo - style you can find in assets/style/header.scss -->
<!-- ============================================================== -->
<div class="navbar-header acomodar" style="margin: 15px"> 
    <a class="navbar-brand" href="index.html">               
        <!-- Logo text -->
        <span fxShow="false" fxShow.gt-xs>
            <!-- Light Logo text for dark background-->    
            <img src="assets/images/navbar/tec_light_logo.png"  class="light-logo" alt="homepage">
        </span> </a>
</div>

