<div>


    <blockquote style="margin: 1%">

        <h3 class="subtitles"> Misión </h3>

        Brindar a las y los usuarios un repositorio amplio de funciones de Javascript orientadas a la solución
        de problemáticas distintas. De igual manera, se pretende fomentar la divulgación del conocimiento con respecto
        a este lenguaje de programción y convertir esta plataforma en un medio para simplificar el trabajo diario
        de las personas que se desempeñan programando en este lenguaje.
     
    </blockquote>

</div>


<div>

    
    <blockquote style="margin: 1%">

        <h3 class="subtitles"> Visión </h3>

        Convertirnos en una plataforma que no solo brinde accesso a diversar funciones en código javascript.
        Ampliar nuestro alcance a nuevos lenguajes de programación e incluir nuevas características atractivas para las
        y los usuarios, como por ejemplo una versión descargable de la librería. 
     
      </blockquote>

</div>

<div class="divCenter">

    <h4> Búscanos en </h4>

    <a target="_blank" title="follow me on facebook" 
    href="https://www.facebook.com/Javascript-Dynamic-Library-JDL-466383067455397/"><img alt="follow us on facebook" 
    src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" border=0></a>

</div>

<br> <br> <br> <br> <br> <br> <br> 