<div class="container">
  <mat-card-title>
    Búsqueda de Funciones
  </mat-card-title>
  <hr style="border-top: 1px solid #030303;">
  <mat-card-content>
    <div>
      <div>
        <small style="color:red">A continuación escriba o seleccione unicamente
          en las opciones de búsqueda que desea para
          filtrar</small><br>
      </div>

      <br>
      <mat-accordion> <!--Inicio de Paneles -->
        <mat-expansion-panel (opened)="panelOpenState= true"
          (closed)="panelOpenState= false" style="border: solid 2px rgb(18, 145,
          18)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Datos Generales
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenState ? 'Cerrar' : 'Abrir'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- body -->
          <mat-form-field>
            <mat-label>Nombre de la función</mat-label>
            <input matInput [(ngModel)]="nombre" class="inputFormSmall">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Descripción de la función</mat-label>
            <input matInput [(ngModel)]="descrip" class="inputFormSmall">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nombre del Usuario</mat-label>
            <input matInput [(ngModel)]="userNombre" class="inputFormSmall">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Codigo de funcion</mat-label>
            <textarea id="code" autocomplete="off" id="codeJS"
              [(ngModel)]="code" rows="5" cols="70" matInput
              [formControl]="codeFormControl" [errorStateMatcher]="matcher"></textarea>
          </mat-form-field>
          <!-- body -->
        </mat-expansion-panel>
        <br>
        <mat-expansion-panel (opened)="panelOpenState= true"
          (closed)="panelOpenState= false" style="border: solid 2px rgb(18, 145,
          18)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Etiquetas
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenState ? 'Cerrar' : 'Abrir'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- body -->
          <mat-checkbox name="etiqueta" class="checks" id="check,{{item.id}}"
            *ngFor="let
            item of
            listaEtiquetas;let i= index">{{item.nombre}}</mat-checkbox>
          <!-- body -->
        </mat-expansion-panel>
        <!-- ------------ -->

      </mat-accordion> <!--Fin de Paneles -->
    </div><br>
    <button (click)="searchFunction()" style="margin-left: 40%"
      mat-raised-button color="warn">Realizar Búsqueda</button>
  </mat-card-content>

  <div style="padding: 2%;"></div>

  <div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" style="width: 100%;">
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripción </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>

        <ng-container matColumnDef="vecesutilizadas">
          <th mat-header-cell *matHeaderCellDef> Veces Utilizada </th>
          <td mat-cell *matCellDef="let element"> {{element.vecesutilizadas}}
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <button (click)="showURL(element.id)" style="border-radius: 100%;
              color:rgb(26, 78, 67); background-color: white"><mat-icon
                matListIcon>link</mat-icon> </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <button (click)="showCode(element.codejs)" style="border-radius: 100%;
              color:rgb(26, 78, 67); background-color: white"><mat-icon
                matListIcon>code</mat-icon> </button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

  </div>



  <!-- <hr>
  <div id="resultadoBusqueda">
      <mat-list>
          <mat-list-item *ngFor="let function of listaResultadobusqueda">
            <mat-icon matListIcon>code</mat-icon>     
            <a matLine style="color:rgb(27, 108, 110)" target="_blank"
              href="https://dynamiclibraryjdl.herokuapp.com/importarFuncion?idFuncion={{function.id}}"> {{function.nombre}}
            </a>
            <a type="bitton"> XD  </a>
            <p matLine>
              <span class="demo-2"> <i>{{function.descripcion}}</i> </span>
            </p>
            <hr>
          </mat-list-item>
        </mat-list>
  </div>  -->
</div>